In [ ]:
import numpy as np
import requests
import lxml.html as lh
import pandas as pd

In [ ]:
def norm_idx(str_idx):
    if len(str_idx) < 5:
        l_n = 5 - len(str_idx)
        s = '0'*l_n + str_idx
    else:
        s = str_idx
    return s
norm_idx('1')

In [ ]:
ls_idx = np.arange(0, 80000)
ls_idx = [norm_idx(str(i)) for i in ls_idx]

In [ ]:
ls_idx[:2]

In [ ]:
ls_df = []
for idx in ls_idx:
    #print(idx)
    url='https://thanhnien.vn/ajax/diemthi.aspx?kythi=THPT&nam=2019&city=TPHCM&text=020{}'.format(idx)
    try:
        #Create a handle, page, to handle the contents of the website
        page = requests.get(url)
        #Store the contents of the website under doc
        doc = lh.fromstring(page.content.decode('utf-8'))
        #Parse data that are stored between <tr>..</tr> of HTML
        tr_elements = doc.xpath('//tr')

        df_name = pd.DataFrame(columns=['name', 'Gender'])
        dict_name = dict()
        tr_elements = doc.xpath('//tr')
        #Create empty list
        i=0
        #For each row, store each first element (header) and an empty list
        for t in tr_elements[0]:
            i+=1
            name=t.text_content()
            dict_name[str(i)] = name
            #print( '%s:%s'%(i,name))
        df_name['name'] = [dict_name['3']]    query = "SELECT count(DISTINCT contact_id) FROM autocod_logs where source_created_at BETWEEN '{} 00:00:00' AND '{} 23:59:59' and use_success_predict != true and allow_auto_cod = true and level in ('L8A','L8B');".format(date, date)
        df = psql.read_sql(query, con=db)
        df_query['L8_khong_di_vao_ani_va_pass_cod_9'] = list(df.iloc[0])
        df_name['Gender'] =[dict_name['6']]

        ls_df.append(df_name)
    except:
        continue

In [ ]:
pd.concat(ls_df, axis= 0).shape

In [ ]:
df = pd.concat(ls_df, axis= 0)

In [ ]:
df.Gender.value_counts()

In [ ]:
df = df.drop_duplicates(subset=['name', 'Gender'])

In [ ]:
df.shape

In [ ]:
df = df.replace(np.nan, '')

In [ ]:
df = df[df.name != '']
df.shape

In [ ]:
df = df.reset_index()
df = df.drop('index', axis= 1)

In [ ]:
for i in range(df_test.shape[0]):
    df_test.loc[i, 'name'] = df_test.loc[i, 'name'].lower()
    if df_test.loc[i, 'Gender'].lower() == 'nam':
        df_test.loc[i, 'Gender'] = 'male'
    else:
        df_test.loc[i, 'Gender'] = 'female'

In [ ]:
writer = pd.ExcelWriter('data_name_gender_30k.xlsx', engine= 'xlsxwriter')
df.to_excel(writer, 'Sheet1', encoding= 'utf-8', index = False)
writer.save()

test

In [ ]:
url='https://thanhnien.vn/ajax/diemthi.aspx?kythi=THPT&nam=2019&city=TPHCM&text=02070002'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content.decode('utf-8'))
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [ ]:
#Check the length of the first 12 rows
[T for T in tr_elements[:12]]

In [ ]:
tr_elements = doc.xpath('//tr')

In [ ]:
tr_elements[0].text_content()

In [ ]:
df_name = pd.DataFrame(columns=['name', 'Gender'])
dict_name = dict()
tr_elements = doc.xpath('//tr')
#Create empty list
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    dict_name[str(i)] = name
    #print( '%s:%s'%(i,name))
df_name['name'] = [dict_name['3']]
df_name['Gender'] =[dict_name['6']]

In [ ]:
df_name